:root {
    --primary-tomato: hsl(4, 100%, 67%);
    --primary-red: hsl(-14, 100%, 67%);
    --primary-tomato-light: hsl(4, 100%, 79%);
    --primary-tomato-lighter: hsl(4, 100%, 97%);

    --neutral-dark-slate-grey: hsl(234, 29%, 20%);
    --neutral-charcoal-grey: hsl(235, 18%, 26%);
    --neutral-grey: hsl(231, 7%, 60%);
    --neutral-charcoal-grey-light: hsl(235, 18%, 80%);
    --neutral-white: hsl(0, 0%, 100%);

    --ft-primary: "Roboto", sans-serif;
    --ft-size-primary: calc(16 / 16 * 1rem);
    --ft-weight-normal: 400;
    --ft-weight-bold: 700;
    --spacing: 8px;
}
body {
    font-family: var(--ft-primary);
    font-size: var(--ft-size-primary);
}
main {

}
.newsletter {
    display: flex;
    gap: calc(var(--spacing) * 1);
}
.newsletter-content {
    color: var(--neutral-dark-slate-grey);
    padding: calc(var(--spacing) * 3);
}
.newsletter-title {
    font-size: 2.5rem;
    line-height: 1;
    margin-bottom: calc(var(--spacing) * 3);
}
/* p {
    line-height: 1.5;
} */
/* Button styling */
button {
    cursor: pointer;
    border: none;
    border-radius: 8px;
    min-width: 100%;
    background: none;
    padding-top: calc(var(--spacing) * 2.5);
    padding-bottom: calc(var(--spacing) * 2.5);
    background-color: var(--neutral-dark-slate-grey);
    color: var(--neutral-white);
    font-weight: var(--ft-weight-bold);
}
button:hover {
    background-image: linear-gradient(to right, var(--primary-red), var(--primary-tomato));
    box-shadow: 0 10px 30px -5px var(--primary-tomato);
}
.subscribe-button {
    cursor: pointer;
}
@media screen and (max-width: 375px) {
    .newsletter {
        flex-direction: column-reverse;
    }
}