:root {
    --primary-tomato: hsl(4, 100%, 67%);
    --primary-red: hsl(-14, 100%, 67%);
    --primary-tomato-light: hsl(4, 100%, 79%);
    --primary-tomato-lighter: hsl(4, 100%, 97%);

    --neutral-dark-slate-grey: hsl(234, 29%, 20%);
    --neutral-charcoal-grey: hsl(235, 18%, 26%);
    --neutral-grey: hsl(231, 7%, 60%);
    --neutral-charcoal-grey-light: hsl(235, 18%, 80%);
    --neutral-white: hsl(0, 0%, 100%);

    --ft-primary: "Roboto", sans-serif;
    --ft-size-primary: calc(16 / 16 * 1rem);
    --ft-weight-normal: 400;
    --ft-weight-bold: 700;
    --spacing: 8px;
}
body {
    font-family: var(--ft-primary);
    font-size: var(--ft-size-primary);
}
main {

}
/* style for the desktop newsletter container */
.newsletter {
    display: flex;
    gap: calc(var(--spacing) * 1);
}
/* style for the left side of the newsletter */
.newsletter-content {
    color: var(--neutral-dark-slate-grey);
    padding: calc(var(--spacing) * 3);
}
.newsletter-title {
    font-size: 2.5rem;
    line-height: 1;
    margin-bottom: calc(var(--spacing) * 3);
}
.newsletter-text {
    margin-bottom: calc(var(--spacing) * 3);
}
.newsletter-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: calc(var(--spacing) * 2);
    margin-bottom: calc(var(--spacing) * 5);
}
.newsletter-list li {
    display: flex;
    align-items: flex-start;
    line-height: 1.3;
    gap: calc(var(--spacing) * 2);
}
.newsletter-list li:before {
    display: inline;
    content: "";
    background-image: url("assets/images/icon-list.svg");
    width: 21px;
    height: 21px;
    line-height: 0;
}
.newsletter form {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 1);
}
.form-label {
    display: flex;
    justify-content: space-between;
    font-size: calc(12 / 16 * 1rem);
    font-weight: var(--ft-weight-bold);
}
.error-alert {
    color: var(--primary-tomato);
}
.email-input {
    color: inherit;
    border-radius: 8px;
    border: 2px solid var(--neutral-charcoal-grey-light);
    margin-bottom: calc(var(--spacing) * 2);
    padding: 10px 20px;
}
.email-input::placeholder {
    color: var(--neutral-charcoal-grey-light);
}
.email-input.highlight {
    color: var(--primary-tomato-light);
    background-color: var(--primary-tomato-lighter);
    border-color: var(--primary-tomato-light);
}
/* style for the success window */
.hidden-success-window {
    display: grid;
    align-self: center;
    padding: calc(var(--spacing) * 3);
    color: var(--neutral-dark-slate-grey);
}
.hidden-success-window div img {
    width: 64px;
    margin-bottom: calc(var(--spacing) * 5);
}
.hidden-success-window-title {
    font-size: 2.5rem;
    margin-bottom: calc(var(--spacing) * 3);
}
.email-receiver {
    font-weight: var(--ft-weight-bold);
}
.dismiss-button {
    align-self: end;
    height: fit-content;
}
p {
    line-height: 1.5;
}
/* Button styling */
button, .subscribe-button {
    cursor: pointer;
    border: none;
    border-radius: 8px;
    min-width: 100%;
    background: none;
    padding-top: calc(var(--spacing) * 2.5);
    padding-bottom: calc(var(--spacing) * 2.5);
    background-color: var(--neutral-dark-slate-grey);
    color: var(--neutral-white);
    font-weight: var(--ft-weight-bold);
}
button:hover, .subscribe-button:hover {
    background-image: linear-gradient(to right, var(--primary-red), var(--primary-tomato));
    box-shadow: 0 10px 30px -5px var(--primary-tomato);
}
/* .max-width-wrapper {
    margin-right: auto; 
    margin-left: auto; 

    max-width: 1150px; 

    padding-right: 16px;
    padding-left: 16px; 
}
.reveal-nav {
    display: flex;
    transform: translateX(0%);
}

.hidden {
    display: none;
} */
@media screen and (max-width: 375px) {
    .newsletter {
        flex-direction: column-reverse;
    }
}
@media (min-width: 62rem) {
    main {
        background-color: var(--neutral-dark-slate-grey);
        display: grid;
        place-content: center;
    }
    .newsletter {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: calc(var(--spacing) * 8);
        background-color: var(--neutral-white);
        max-width: 1000px;
        padding: calc(var(--spacing) * 3);
        padding-left: calc(var(--spacing) * 8);
        border-radius: 48px;
        font-size: calc(18 / 16 * 1rem);
    }
    .newsletter-content,
    .newsletter picture {
        flex: 1;
    }
    .newsletter-content {
        padding: 0;
        align-self: center;
    }
    .newsletter-title,
    .hidden-success-window-title {
        font-size: 4rem;
    }
    .newsletter-title,
    .newsletter-text {
        margin-bottom: calc(var(--spacing) * 4);
    }
    .email-input {
        padding: 16px 24px;
    }
    .hidden-success-window {
        background-color: var(--neutral-white);
        padding: 0;
        padding: calc(var(--spacing) * 8);
        padding-top: calc(var(--spacing) * 6);
        border-radius: 48px;
        max-width: 550px;
        font-size: calc(18 / 16 * 1rem);
    }
    .success-text {
        margin-bottom: calc(var(--spacing) * 5);
    }
}