.box-outer {
    background-image: url(files/archer-forest.png);
    background-repeat: no-repeat;
    width: 50%;
    height: auto;
    position: relative;
  }
  
  /* .box-inner {
    color: white;
    font-size: 2rem;;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width:150px;
    position:absolute;
    right: 100px;
    top: 100px;
  } */