* {
    box-sizing: border-box;
}
body {
    background-color: #fa8c02;
    margin: 0;
    padding: 1rem;
    height: 100vh;
    width: 100vw;
    font-family: customSerif;
    color: #42413f;
}
.outsideContent {
    border: 3px solid;
    border-color: #42413f;
    margin: 20 rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;

}
.innerContent {
    padding: 20px;
    width: 250px;
    height: 150px;
    border: 3px solid;
    border-color: #42413f;
    font-size: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
a {
    font-size: 1.5rem;
}
ul
.topLinks {
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
}
@font-face {
    font-family: customSerif;
    src: url(custom-serif.woff2);
  }
